<div class="container">
      <div class="left">
        <h2>Add Cookbook</h2>        
      <form action="/cookbook" method="POST">
        <div class="form-group">
          <label for="name">Title</label>
          <input
            type="text"
            id="title"
            name="name"
            placeholder="Enter cookbook title"
            required
          />
        </div>