{{> message}}

{{!-- Login page here --}}

<h1>Login</h1>

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required
    pattern="(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{12,}"
    title="Password must at least include 12 characters and include one uppercase letter, one number and one symbol.">
  </div>
  <button type="submit">Login</button>
  <p>
    <a href="/register">Create Account</a>
  </p>
</form>
