{{!-- This page displays cards with recipes.
It is the default page and also will display the results to a search.
We could even make this page show the recipes in each cookbook.
We could also change the name, I just put recipe_results for now --}}
{{> head}}
<div class="card-group">
    <div id="hobby-card-1" class="card">
        {{!-- placeholder image area --}}
        <div id="placeholder-img-box" style="height: 200px; background-color: powderblue; position: relative;">
            {{!-- like button placeholder --}}
            <div style="width: 50px; height: 50px; background-color: red; position: absolute; bottom: 0; right: 0;">
            </div>
        </div>
        <div class="card-body">
            <div class="card-title" style="display: flex; justify-content: space-between; align-items: center;">
                <h5>Recipe Name</h5>
                <span style="font-size: 14px; color: gray;">Difficulty: ★★★☆☆</span>

            </div>
            <div class="card-desc" style="display: flex; justify-content: space-between; align-items: center;">
                <p class="card-text">Recipe Description</p>
                <span style="font-size: 14px; color: gray;">Cook Time: 1h30m</span>
            </div>

            <div class="Allergens" style="display: flex; justify-content: space-between; align-items: center;">
                <p class="card-text">Allergens:</p>
                <span style="font-size: 14px; color: gray;">Nuts, Fish</span>
            </div>
        </div>
    </div>
    <div id="hobby-card-1" class="card">
        {{!-- placeholder image area --}}
        <div id="placeholder-img-box" style="height: 200px; background-color: powderblue; position: relative;">
            {{!-- like button placeholder --}}
            <div style="width: 50px; height: 50px; background-color: red; position: absolute; bottom: 0; right: 0;">
            </div>
        </div>
        <div class="card-body">
            <div class="card-title" style="display: flex; justify-content: space-between; align-items: center;">
                <h5>Recipe Name</h5>
                <span style="font-size: 14px; color: gray;">Difficulty: ★★★☆☆</span>

            </div>
            <div class="card-desc" style="display: flex; justify-content: space-between; align-items: center;">
                <p class="card-text">Recipe Description</p>
                <span style="font-size: 14px; color: gray;">Cook Time: 1h30m</span>
            </div>

            <div class="Allergens" style="display: flex; justify-content: space-between; align-items: center;">
                <p class="card-text">Allergens:</p>
                <span style="font-size: 14px; color: gray;">Nuts, Fish</span>
            </div>
        </div>
    </div>

    <div id="hobby-card-1" class="card">
        {{!-- placeholder image area --}}
        <div id="placeholder-img-box" style="height: 200px; background-color: powderblue; position: relative;">
            {{!-- like button placeholder --}}
            <div style="width: 50px; height: 50px; background-color: red; position: absolute; bottom: 0; right: 0;">
            </div>
        </div>
        <div class="card-body">
            <div class="card-title" style="display: flex; justify-content: space-between; align-items: center;">
                <h5>Recipe Name</h5>
                <span style="font-size: 14px; color: gray;">Difficulty: ★★★☆☆</span>

            </div>
            <div class="card-desc" style="display: flex; justify-content: space-between; align-items: center;">
                <p class="card-text">Recipe Description</p>
                <span style="font-size: 14px; color: gray;">Cook Time: 1h30m</span>
            </div>

            <div class="Allergens" style="display: flex; justify-content: space-between; align-items: center;">
                <p class="card-text">Allergens:</p>
                <span style="font-size: 14px; color: gray;">Nuts, Fish</span>
            </div>
        </div>
    </div>
</div>
{{> footer}}