{{!-- Navbar partial goes here --}}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="hover-color: rgb(19 79 210 / 80%);">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand" href="/"></a>
            <ul class="navbar-nav mr-auto">
                <a href="/">
                    <img id="self-image"
                         src="img/Fish_logo_transparent.png"
                         width="80px" style="margin-right: 30px;"/>
                </a>
            </ul>
            <form action="/search" method="GET" class="d-flex my-2 my-lg-0" style="position: relative; width: 300px;">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" style="padding-left: 2.5rem; font-size: 1.5rem;">
                <i class="bi bi-search" style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%); font-size: 1.2rem; color: gray;"></i>
            </form>
        </div>


        <div class="navbar-collapse collapse order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/addRecipe'>
                        <i class="bi bi-plus-circle-fill" style="font-size: 1.5rem; margin-right: 30px;"></i>
                    </a>

                </li>

                {{#if username}}
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="/profile" style="font-size: 1.5rem; margin-right: 30px;">
                            <i class="bi bi-person-circle" style="font-size: 1.5rem; margin-right: 10px;"></i>
                            <span>{{username}}</span>
                        </a>
                    </li>
                    <li class="nav-item d-flex align-items-center" style="font-size: 1.5rem; margin-right: 30px;">
                    <a class="nav-link" href='/logout'>
                        <i class="bi bi-box-arrow-right" style="font-size: 1.5rem; margin-right: 3px;"></i>
                        <span>Logout</span>
                    </a>
                </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="/login" style="font-size: 1.5rem; margin-right: 30px;">
                            <span>Login</span>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</header>

<style>
    .nav-link:hover {
        color: rgba(10, 122, 236, 0.93) !important;
    }
    .nav-link {
        white-space: nowrap;
    }
</style>
